*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.navbar{
    list-style-type: none;
    background-color: #0000aa;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
}
.navbar li{
    float: left;
    width: 20%;
    text-align: center;
        
}
.navbar a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    line-height: 49px;
    font-size: 20px;
}
.navbar a:hover{
    background-color: #aa0000;
    font-weight: bold;
}
.banner1{
    height: 600px;
    background-image: url('img1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2px;
    position: relative;
    top: 52px;
}
.banner2{
    height: 600px;
    background-image: url('img2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2px;
    position: relative;
    top: 52px;
}
.signin{
    height: 400px;
    width: 400px;
    background-color: #ffffff;
    position: absolute;
    left:250px;
    top:80px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
    padding: 20px;
}
.signin h1{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;
    font-family: 'monotype corsiva';
    color: blue;
}
.signup{
    height: 400px;
    width: 400px;
    background-color: #ffffff;
    position: absolute;
    left:850px;
    top:80px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
    padding: 20px;
}
.signup h1{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;
    font-family: 'monotype corsiva';
    color: blue;
}
label,input{
    display: block;
    margin-bottom: 12px;
    width: 100%;
}
input{
  padding: 12px;  
}
input[type="text"],input[type="password"],input[type="email"]{
    border:none;
    background-color: #dddddd;
    outline: none;
    border-radius: 8px;
    font-size: 18px;
    color: blue;
}
input[type="submit"]{
    border:none;
    font-size: 20px;
    background-color: darkblue;
    outline: none;
    color: #ffffff;
    border-radius: 8px;
    margin-top: 30px;
    width: 40%;
    margin: auto; 
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus{
    border: 1px solid #0000aa;
    outline: 1px solid #0000aa;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #0000aa;
}
input[type="submit"]:hover{
    background-color: #00aa00;
    color: white;
}